@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--manrope-font), sans-serif;
}

.font-open-sans {
  font-family: var(--open-sans-font), sans-serif;
}

.text-header {
  @apply text-[2.19rem] lg:text-[3rem] font-manrope leading-[56px] md:leading-[72px];
}
.text-p {
  @apply text-[1.25rem] lg:text-[1.5rem] font-openSans leading-[36px];
}
.text-p-bold {
  @apply text-[25px] md:text-[36px]  leading-[40px] md:leading-[56px];
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: font-manrope, sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.marquee-content {
  display: inline-flex;
  animation: marquee 20s linear infinite;
}
.bg-contact {
  background-image: url("../../public/boldo/bg-contact.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
